<%- include('cabecera_propietario')%>
<%- messages %>
 <div class="container">
      <table class="table table-bordered table-striped text-center mt-4">
           <thead>
              <tr class="bg-dark text-white">
                  <th scope="column">ID</th>
                  <th scope="column">Direccion</th>
                  <th scope="column">Localidad</th>
                  <th scope="column">Precio</th>
                  <th scope="column">nInquilinos</th>
                  <th scope="column">alquilado</th>
                  <th scope="column">Acciones</th>
              </tr> 
           </thead>
           <tbody> 
              <% results.forEach((user)=> {%>
              <tr>
                  <td><%= user.id %></td>
                  <td><%= user.direccion %></td>
                  <td><%= user.localidad %></td>
                  <td><%= user.precio %></td>
                  <td><%= user.nInquilinos %></td>
                  <td><%= user.alquilado %></td>
                  <td>
                      <a href="/validarAlquiler/<%= user.id %>" class="btn btn-primary">Aceptar</a>
                      <a href="/cancelarAlquiler/<%= user.id %>" class="btn btn-danger">Eliminar</a>
                      <a href="/chat/<%= user.id %>" class="btn btn-dark">Chat</a>
                  </td>
              </tr>
              <% }) %>
           </tbody>
      </table> 
 </div>
<%- include('foot')%>   