<%- include('cabecera_inquilino')%>
<%- messages %>
 <div class="container">
      <table class="table table-bordered table-striped text-center mt-4">
           <thead>
              <tr class="bg-dark text-white">
                  <th scope="column">ID</th>
                  <th scope="column">Direccion</th>
                  <th scope="column">Localidad</th>
                  <th scope="column">Propietario</th>
                  <th scope="column">Alquilado</th>
                  <th scope="column">Estado</th>
                  <th scope="column">Precio</th>
                  <th scope="column">Acciones</th>
              </tr> 
           </thead>
           <tbody> 
              <% results.forEach((user)=> {%>
              <tr>
                  <td><%= user.id %></td>
                  <td><%= user.direccion %></td>
                  <td><%= user.localidad %></td>
                  <td><%= user.propietario %></td>
                  <td><%= user.alquilado %></td>
                  <td><%= user.buscador %></td>
                  <td><%= user.precio %></td>
                  <td>
                      <a href="/chat/<%= user.id %>" class="btn btn-primary">Chat</a>
                  </td>
              </tr>
              <% }) %>
           </tbody>
      </table> 
 </div>
<%- include('foot')%>   